body{
  background-color: aqua;
  text-align: center;
}
img{
  max-width: 100%;
 
}
.title{
  color: yellow;
  font-size: 40px;
  text-transform: uppercase;
  text-shadow: 2px 2px black;
}
.card{
  margin-top: 70px;
}
.btn{
  margin-top: 20px;
}
.btn btn-warning btn-lg category{
  margin:20px;
}
.SubTitle{
  color: white;
  margin-top: 50px;
}
.displayjokes ul li {
  padding:5px;
  list-style-type: circle;
  color: black;

}
.Categories p{
  display: flex;

}
.form-control{
  display: block;
  margin:10px;
}